---
Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-isolate-declaration,
  -readability-uppercase-literal-suffix,
  -bugprone-easily-swappable-parameters,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
WarningsAsErrors: ''
FormatStyle: none
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
